In [3]:
# here we used inbuilt module to import datetime class
from datetime import datetime

In [26]:
today_date = datetime.now().date()

In [27]:
date.year

2025

In [28]:
date.day

16

In [29]:
date.month

3

- **Use relativedelta when working with months, years, and flexible date adjustments.**
- **Use timedelta when dealing with fixed durations (days, hours, minutes, seconds).**

In [30]:
# class timedelta
from datetime import timedelta

In [40]:
tommorow = datetime(2025,3,17).date()

In [41]:
today_date+timedelta(days=10)

datetime.date(2025, 3, 26)

In [42]:
today_date-timedelta(days=10)

datetime.date(2025, 3, 6)

In [43]:
# relativedelta
from dateutil.relativedelta import relativedelta

In [44]:
after_one_yr = today_date + relativedelta(years = 1)

In [45]:
after_one_yr

datetime.date(2026, 3, 16)

In [85]:
## diffrence between two dates
(tommorow - today_date).days

1

In [47]:
usr_input = input("Enter a date in format DD-MM-YYYY")

Enter a date in format DD-MM-YYYY 18-07-2002

In [51]:
formated_date = datetime.strptime(usr_input,"%d-%m-%Y") # convert string to date object - using strptime method

In [57]:
type(formated_date)

datetime.datetime

In [53]:
check=formated_date.strftime("%d-%m-%Y") # format a date object to a string

In [55]:
check

'18-07-2002'

In [56]:
type(check)

str

In [58]:
dates = [
    "2025-03-01", "2025-03-02", "2025-03-03", "2025-03-05", "2025-03-06",
    "2025-03-10", "2025-03-11", "2025-03-12", "2025-03-15", "2025-03-16",
    "2025-03-17", "2025-03-18", "2025-03-22", "2025-03-23", "2025-03-24",
    "2025-03-30", "2025-03-31"
]

In [60]:
type(dates[0])

str

In [98]:
def longest_streak(dates):
    current_streak = 1
    max_streak = 1
    streak_dates = []
    for date in dates:
        streak_dates.append(datetime.strptime(date,"%Y-%m-%d"))
    
    streak_dates = sorted(streak_dates)
   
    for i in range(0,len(streak_dates)-1):
        if (streak_dates[i+1] - streak_dates[i]).days == 1:
            current_streak +=1
            max_streak = max(current_streak,max_streak)
        else:
            current_streak = 1
    
    return current_streak ,max_streak

In [99]:
longest_streak(dates)

(2, 4)

In [100]:
dates = [
    "2025-03-01", "2025-03-02", "2025-03-03", "2025-03-05", "2025-03-06",
    "2025-03-10", "2025-03-11", "2025-03-12", "2025-03-15", "2025-03-16",
    "2025-03-17", "2025-03-18", "2025-03-22", "2025-03-23", "2025-03-24",
    "2025-03-30", "2025-03-31"
]

In [101]:
longest_streak(dates)

(2, 4)

In [25]:

def testfunc(n):
    answer = []
    for i in range(0,n+1):
        answer.append(i)
    for i in range(1,n+1):
        if(i%3==0 and i%5==0):
            answer[i] = ("FizzBuzz")
            return answer
        elif(i%3==0):
            answer[i] = "Fizz"
            return answer
        elif(i%5==0):
            answer[i]="Buzz"
            return answer
        else:
            answer[i]= f"{i}"
            return answer

In [26]:
testfunc(5);

In [19]:
x = L[0]

In [20]:
x

'b'

In [5]:
def twoSum(nums,target):
    for i in range(0,len(nums)-1):
         if(nums[i]+nums[i+1]==target):
             return [i,i+1]

In [6]:
x = twoSum([3,2,3],6)

In [7]:
x